@import 'vendor/variables';

#pageContainer {
    height:100vh;
}
.view-container {
    position: relative;
    // height: 100vh;
    width: 100%;
}

.view-container.active {
  overflow: hidden;
}

.cover {
  display: none;
  position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 1030;
    width: 100%;
}
.cover.active {
  display: block;
}

#wrapper {
  // min-height: 100%;
  // height: 100%;
  background-color: $grey-dark;
}




